<!DOCTYPE HTML>
<html>
<head>
    <title>
        {% block title %}{% endblock %} | Our awesome blog
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/bootstrap.css" type="text/css" media="all">
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/app.css" type="text/css" media="all">
</head>
<body>
<div  class="container">
    <div id="content">
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
        <div id="push"></div>
    </div>
</div>
</body>
</html>
